body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 0;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

#loader img {
    width: 100px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.content {
    display: none;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}


h1, p {
    text-align: center;
}

#colorDisplay {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}